.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    padding: 10px 25px;
    border: 1px solid lightgrey;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

ul {
    /* list-style: none; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px 15px;
    background-color: lightpink;
    border: 1px solid lightgrey;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}