.container {
    background-color: #E3F3D7;
    height: 100vh;
    padding: 20px;
}
.user_card {
    background-color: #cbf3a3;
    height: fit-content;
    width: 500px;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.avatar {
    border-radius: 50%;
    border: 2px solid #71d50d;
}

.change_btn {
    padding: 10px 30px;
    border: none;
}